@import "theme";

footer:not(#files) {
    background-color: white;
    padding: 16px;

    p {
        color: black;
    }


    div.container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        ul {
            padding: 0;
        }

        li {
            list-style: none;
        }
    }
}