body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

main {
    grid-column: 2/3;
}

header,
footer {
    grid-column: 1 / 4;
}

.skip-link {
    grid-column: 1 / 4;
    grid-row: 1/2;
    z-index: 1;
}

header {
    grid-row: 3/4;
}

nav>ul {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav {
    grid-column: 1 / 4;
    grid-row: 2/3;

    ul {}
}