body {
    display: flex;
    flex-direction: column;


    @media screen and (min-width:$break-point) {

        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    aside {
        grid-row: 4/5;
    }

    aside:first-of-type {
        grid-column: 1 / 2;
    }

    aside:last-of-type {
        grid-column: 6 / 7;
    }
}

main {
    grid-column: 2/ span 4;
}

header,
footer {
    grid-column: 1 / span 6;
}

.skip-link {
    grid-column: 1 / span 6;
    grid-row: 1/2;
    z-index: 1;
}

header {
    grid-row: 2/3;
}

nav>ul {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav {
    grid-column: 1 / span 6;
    grid-row: 3/4;
}