@import "theme";

nav {
    background-color: white;
    padding: 16px;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        background-color: $color-background;
    }

    li {
        border: 1px solid white;
        padding: 16px;
        text-align: center;
        width: 100%;

        a {
            color: white;
            font-size: medium;
            text-decoration: double;
        }
    }


    @media screen and (min-width: $break-point) {
        ul {
            flex-direction: row;

            li {
                min-width: 90px;
            }
        }
    }
}