@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  font-family: var(--general-font);
}

h1, h2, h3 {
  font-family: var(--heading-font);
}

:root {
  --color-primary: #0B4F6C;
  --color-primary-alt: #87CEEB;
  --color-secondary: #AAFCB8;
  --color-background: #008000;
  --color-text: #19303b;
  --color-light: #fff;
  --color-anchor: #0B4F6C;
  --general-font: "Roboto", arial;
  --heading-font: "Baloo 2", sans-serif;
  --font-weight-strong: 500;
  --font-size-h1: 6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
  --border-radius: 8px;
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
p {
  color: #87CEEB;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

main {
  grid-column: 2/3;
}

header {
  grid-column: 2/3;
}

nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav, footer {
  grid-column: 2/3;
}

#about > section {
  margin-bottom: 45px;
}

blockquote {
  font-style: italic;
}

#about ul {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0;
}
#about ul li {
  background-color: #bebebe;
  flex: 1 1;
  list-style: none;
  margin: 2px;
  padding: 5px 15px;
  text-align: center;
  align-content: center;
  border: 1px solid black;
  height: 84px;
}

article .container {
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.link-guidelines {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-image: url(../svg/ball.svg);
  background-color: white;
  background-size: contain;
  text-decoration: none;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 200px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 3px 3px 5px rgba(0, 0, 0, 0.8), -3px -3px 5px rgba(0, 0, 0, 0.8);
  -webkit-text-stroke: 1px #0B4F6C;
  transition: transform 10s ease;
}
.link-guidelines:hover {
  /*animation: rotateAnimation 10s linear infinite;*/
  transform: rotate(360deg);
}

#files a {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-image: url(../svg/ball.svg);
  background-color: white;
  background-size: contain;
  text-decoration: none;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 200px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 3px 3px 5px rgba(0, 0, 0, 0.8), -3px -3px 5px rgba(0, 0, 0, 0.8);
  -webkit-text-stroke: 1px #0B4F6C;
  transition: transform 10s ease;
}
#files a:hover {
  /*animation: rotateAnimation 10s linear infinite;*/
  transform: rotate(360deg);
}

/*@include ball-keyframes;*/
#contribute li {
  color: #87CEEB;
}

svg {
  width: 50px;
}

section {
  margin-top: 40px;
}

body {
  background: #008000 url(../svg/grass.svg) fixed;
}

/*# sourceMappingURL=style.css.map */
